<!DOCTYPE html>
<html>
<head><title>Brainstormer</title>
	<link type="text/css" rel="stylesheet" href="css/normalize.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Engagement">
	<!--<Piwik> </Piwik>-->
	<script>var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.collide.info/" : "http://piwik.collide.info/");
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));</script>
	<script>try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
	} catch (err) {
	}</script>
	<noscript><p><img src="http://piwik.collide.info/piwik.php?idsite=5" style="border: 0;" alt=""></p></noscript>
	<!--  <End>Piwik Tracking Code </End>--></head>
<body>
<header>
	<div id="header">Brainstormer</div>
</header>
<section class="body">
	<div id="left">
		<div id="title">Brainstormer</div>
		<div id="subtitle">The<span class="underline">free</span><span class="underline">online</span><span
				class="underline">collaborative</span><br>brainstorming application!
		</div>
		<a id="startbutton" href="/session/new">Start New Session!</a></div>
	<div id="right">
		<div id="screenshot"><a href="http://vimeo.com/34840386" target="_blank"><img src="img/screenshot.jpg"></a>
		</div>
	</div>
</section>
<footer>
	<div>
		<section>
			<div>
				<header>What is Brainstormer?</header>
				<article>Brainstormer is an online brainstorming tool, that supports realtime collaboration
					across browsers and devices. Brainstormer works in all major browsers, on the iPad,
					Android tablets and also on mobile phones! The best of all:<span class="underline">Brainstormer is for free</span>and
					does not require any login!
				</article>
			</div>
		</section>
		<section>
			<div class="blue">
				<header>How much does it cost?</header>
				<article>Brainstormer is for<span class="underline">free</span>! You don't have to pay anything. You
					don't even have to
					register or create an account. Just start a new Brainstormer session and share the link via your
					favourite instant messenger or
					e-mail
					with your collaborators and start brainstorming.
				</article>
			</div>
		</section>
		<section>
			<div class="red">
				<header>How do you handle security and privacy?</header>
				<article>Brainstormer sessions in general are open. Everyone knowing the session id can access the
					session.
					However, the sessions are not listed anywhere. Therefore it is very unlikely that someone will join
					your session without knowing the link just by guessing the session id.
				</article>
			</div>
		</section>
		<section>
			<div class="yellow">
				<header>How does it work?</header>
				<article>Brainstormer has been implemented using HTML, Javascript, CSS in the frontend and
					nodejs, express, nowjs, socket.io, Mongoose and MongoDB in the backend. If you did not hear about
					these technologies, we can recommend having a look at them!
				</article>
			</div>
		</section>
		<section>
			<div>
				<header>How can I report or comment on brainstormer?</header>
				<article>If you like Brainstormer, spread the word! If you have any problems or suggestions, drop us a
					mail!<br><br>email: giemza [at] collide.info<br><br>twitter: @deradam
				</article>
			</div>
		</section>
	</div>
	<div id="text">© 2012 -<a target="_blank" href="http://www.collide.info">Collide Research Group</a>-<a
			href="http://www.uni-due.de" target="_blank">University of Duisburg-Essen</a>-<a
			href="http://www.uni-due.de/de/impressum.shtml" target="_blank">Legal Notice</a></div>
</footer>
</body>
</html>